.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  width: 600px;
  margin: 0 auto;
  gap: 30px;
  box-sizing: border-box;
}

.todoInput {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
  }
  &__description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  &__inputField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  &__title {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
      border-color: #4a90e2;
    }
  }
  &__content {
    width: 100%;
    height: 100px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
      border-color: #4a90e2;
    }
  }
  &__button {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a90e2;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.2s;

    &:hover {
      background-color: #357ab8;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.todo {
  &__listContainer {
    display: flex;
    width: 100%;
  }
  &__list {
    width: 50%;
  }
  &__content {
    width: 50%;
    border: 1px solid #f1f1f1;
  }
}

.todoList {
  &__container {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__emptyMessage {
    color: #888;
    text-align: center;
    margin-top: 1rem;
  }

  &__item {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.todoContent {
  &__container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  &__menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    &__item {
      cursor: pointer;
      font-size: 12px;
      font-weight: 400;
      padding: 8px 12px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    &__item:hover {
      background-color: #f1f1f1;
    }
  }

  &__content {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__message {
    font-size: 18px;
    color: #777;
    text-align: center;
    margin-top: 50px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;

    &:focus {
      border-color: #4d90fe;
      outline: none;
      box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.3);
    }

    &__label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #333;
    }
  }
}
